@import "tailwindcss";


@keyframes call-dance {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-15deg) scale(1.1);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(15deg) scale(1.1);
  }
}

.animate-call-dance {
  animation: call-dance 1s infinite;
}